---
import Layout from '../../layouts/Layout.astro';
import Aside from '../../components/Aside.astro';
import { newtClient } from '../../lib/newt';
import type { Article } from '../../lib/newt';
import '../../styles/css/style.css';

export const getStaticPaths = async () => {
  const { items: articles } = await newtClient.getContents<Article>({
    appUid: 'blog',
    modelUid: 'article',
	query: {
		select: ["title", "slug", "body", "coverImage", "category", "date"],
	},
  })
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }))
}

const { article } = Astro.props
---

<Layout title={`${article.title} | TECH BLOG`}>
	<main>
		<section>
			<div class="container">
				<div class="blog-detail">
				<h1>{article.title}</h1>
				<div class="blog-detail-date"><span class="material-icons schedule-icon">schedule</span>{ new Intl.DateTimeFormat('en-US', { dateStyle: 'medium' }).format(new Date(article.date))}</div>
				<div class="blog-detail-text" set:html={article.body} />
				</div>
			</div>
		</section>
	</main>
	<Aside />
</Layout>