---
import Layout from '../layouts/Layout.astro';
import { newtClient } from '../lib/newt';
import type { Article } from '../lib/newt';
import '../styles/css/style.css';

const { items: articles } = await newtClient.getContents<Article>({
  appUid: 'blog',
  modelUid: 'article',
  query: {
    select: ["title", "slug", "body", "coverImage", "category", "date"],
  },
})
---

<Layout title="">
	<main>
		<section>
			<div class="container">
				<div class="blog-area">
					{
						articles.map((article, index) => {
								return (
									<div class="blog-card" data-aos="fade-up" data-aos-delay={index * 50}>
										<a href={`/articles/${article.slug}`}>
										<div class="img-category">
											<img src={article.coverImage ? article.coverImage.src : ""} alt={article.title} width="400" height="300" loading="lazy" />
											<p>{article.category.name}</p>
										</div>
										<div class="date"><span class="material-icons schedule-icon">schedule</span>
										{ new Intl.DateTimeFormat('en-US', { dateStyle: 'medium' }).format(new Date(article.date))}</div>
										<h2>{article.title}</h2>
										</a>
									</div>
								)
						})
					}
				</div>			
			</div>
		</section>
	</main>
</Layout>